.center1{
    text-align: center;
}

.foto1{
    width: 700px;
    height: 500px;
}


.block{
    background-color: rgb(111, 111, 192);
    margin: 20px;
    text-align: center;
    height: 100px; 
    width: 700px;
     border-radius: 15px;
     box-shadow: 0 0 10px #000;
}

.block1{
    height: 50px;
    width: 120px;
    margin: 10px;
    border-radius: 15px;
}